@font-face {
  font-family: 'OpenSans';
  src: url('../public/assets/Sora/Sora-Bold.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: OpenSans, sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next{
  background-color: #fa4040;
}


#__next::after{
  content: ". ";
  display: table;
  width: 100%;
  background-color: #372d2d;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2b2626;
  color: white;
  text-align: center;
  display: inline-flex;
  place-content: space-between;
  padding: 15px;
}